# Session 1
- Data Science and Machine Learning

### Introduction to Python

Python is a computer programming language often used to build  **websites and software, automate tasks, and conduct data analysis.**

In [ ]:


# commenting
#
""""""

# inbuilt fuctions like print, help, dir, len, sum

In [1]:
# Welcome to this class


print("Hello, world!")
print('Damilola Emmanuel')

Hello, world!
Damilola Emmanuel

In [2]:
# Inbuilt functions

# help()

# dir()

# len()

# sum()

# input()

# int()

## Basic Arithmetic
The basic arithmetic operations for real numbers are addition, subtraction, multiplication, and division

|Operation                |Symbol                          |Example                         |
|----------------|-------------------------------|-----------------------------|
|Addition	|+	|1 + 2 = 3            
|Subtraction	|-|	5 - 4 = 1
|Multiplication	|*|	2 * 4 = 8
|Division	|/|	6 / 3 = 2
Exponent|	**	|3 ** 2 = 9

In [3]:
# Addition
print(2 + 2)

print(2 + 4)

4
6

In [4]:
# Subtraction

print(6 - 5)

1

In [5]:
# Multiplication

20 * 3

60

In [6]:
# Division
14 / 5

2.8

In [7]:
# Floor Division

14 // 5

2

In [8]:
# Modulo - To get the reminder

14 % 5

4

In [9]:
# Raised to Power

2 ** 3

8

In [10]:
# Square-root

print(16 ** 0.5)

4.0

In [11]:
25 - 9

16

In [12]:
# Order of Operation - BODMAS

(16 + 9)  ** (1/2)

5.0

## Variable Assignment

Variables can store **data of different types** 

- Integer - 1,2,3,4
- float 	- 4.5
- String - 'alphabet' & 'text'
- bool - True or False
- list - [Mango, Orange, Banana, Pineapple, Mango]
- dict - { Key: Value, Name: Damilola}
- set - {Orange, Banana, Pineapple, Mango}
- tuple - (Orange, Banana, Pineapple, Mango)

In [14]:
#Dont start with a number
#Dont start with special characters
#NO SPACE

# Creating variables
# Manipulating variables

firstname = 'Damilola'

surname = "Emmanuel"

age = 25

account_balance = 78900.16

tax_rate = 5/100

tax_amount = account_balance * tax_rate

married = True , False

In [21]:
print(firstname)

print(surname)

print(age)

print(account_balance)

print(tax_rate)

print(tax_amount)

print(married)

Damilola
Emmanuel
25
78900.16
0.05
3945.0080000000003
True

In [22]:
tax_amount = account_balance * tax_rate

In [38]:
firstname + surname

'DamilolaEmmanuel'

In [37]:
'- -' * 20

'- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -'

In [46]:
firstname = input('Please enter your first name: ')

surname = input('Please enter your last name: ')

age = int(input('How old are you? '))

account_balance = input('How much is in your account: ')

tax_rate = input('What is your country tax rate policy: ')

How old are you? 32

In [60]:
print('First Name :', firstname,
      'Last Name :', surname,
      'Age :', age, 
      'balance :',account_balance)

First Name : Segun Last Name : Arinze Age : 32 balance : 300

In [59]:
print('First Name :', firstname, '\n'
      'Last Name :', surname, '\n'
      'Age :', age, '\n'
      'balance :',account_balance)

First Name : Segun
Last Name : Arinze
Age : 32
balance : 300

In [53]:
firstname, surname, age

('Segun', 'Arinze', 32)

## Debugging - reading errors

In [30]:
print(tax)

NameError: name 'tax' is not defined

In [32]:
print(firstname / 2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [34]:
print(firstname + surname

SyntaxError: unexpected EOF while parsing (<ipython-input-34-b6670e839c8c>, line 1)

In [65]:
int(firstname)

ValueError: invalid literal for int() with base 10: 'ewrwer'

In [1]:
def indentation_error_example():
org = 10Analytics

IndentationError: expected an indented block (<ipython-input-1-feb43aa65c50>, line 2)

## Function
A function is a **block of code designed to perform a specific task**. 

As you'll see, functions will let you do roughly the same calculation multiple times without duplicating any code.

It contains **Head** and **Body**.

In [ ]:
def name_of_function(input_var):       # HEAD
    output_var = input_var + 3      # BODY
    return output_var            # OUTPUT which is optional
    
    

    
    

# Functions with multiple arguments

# Functions with no arguments

In [64]:
# input('Enter a number' )

# print('My gross salary is', grow_salary, 'and my take home is',net_salary)

Enter a number3

'3'

In [84]:
def salary_tax_calculator():                                          #HEAD

    firstname = input('Please enter your first name: ')               #Body
    # surname = input('Please enter your last name: ')
    # age = int(input('How old are you? '))
    salary = float(input('How much is your salary: '))
    tax_rate = float(input('What is your country tax rate policy: '))

    tax_amount = salary * tax_rate

    grow_salary = salary
    net_salary = salary - tax_amount


    return print(f'\n\nName is {firstname} \nMy gross salary is {grow_salary} and my take home is {net_salary}')   # OUTPUT

In [85]:
salary_tax_calculator()

Please enter your first name: Damilola
How much is your salary: 5000
What is your country tax rate policy: 0.1


Name is Damilola
My gross salary is 5000.0 and my take home is 4500.0

In [86]:
salary_tax_calculator()

Please enter your first name: Matthew
How much is your salary: 86874
What is your country tax rate policy: 0.05


Name is Matthew
My gross salary is 86874.0 and my take home is 82530.3

In [92]:
def salary_tax_calculator(firstname = 'Damilola', salary = 50000, tax_rate = 0.05 ):                                          #HEAD

    firstname = firstname               #Body
    salary = salary
    tax_rate = tax_rate

    tax_amount = salary * tax_rate
    net_salary = salary - tax_amount


    return firstname, salary, net_salary

In [93]:
salary_tax_calculator()

('Damilola', 50000, 47500.0)

In [94]:
salary_tax_calculator('Chinny',40000, 0.5)

('Chinny', 40000, 20000.0)

Say you are helping a friend to calculate their weekly paycheck after taxes.

- They're in a 8% tax bracket (in other words, 8% of their salary is taken for taxes, and they only take home 88%), and

- They're paid monthly, at a rate of $27,500/month.

- Create a calculator to be used for 2 - 6 months period

In [18]:
# Please attempt to answer the question above

def weekly_paycheck():
    fullname = input('Enter your full name: ')
    number_of_month = int(input('Enter number of month salary between 2-6 months: '))
    monthly_salary = int(input('what is your monthly salary?: '))
    salary_for_numberofmonth = monthly_salary * number_of_month
    tax = float(input('How much tax do you pay?: '))       #input tax amount
    tax_rate = monthly_salary * tax
    income_after_tax = monthly_salary - tax_rate
    weekly_pay = income_after_tax / 4



    return print(f'\n\Hi {fullname}, your monthly salary for {number_of_month} months is {salary_for_numberofmonth} and your weekly paycheck is {weekly_pay} ')

In [19]:
weekly_paycheck()

Enter your full name: Chinny Akpa
Enter number of month salary between 2-6 months: 3
what is your monthly salary?: 27500
How much tax do you pay?: 0.08

\Hi Chinny Akpa, your monthly salary for 3 months is 82500 and your weekly paycheck is 6325.0

In [23]:
print ('ChinnyAkpa')

ChinnyAkpa

def currency():
    naira = float(input('Amount in naira?: '))
    exchange_rate = int(input('Enter Black market: '))
    value_in_naira = naira * exchange_rate
    
    return print(f'\n value in naira is {value_in_naira} ')

In [36]:
currency()

Amount in naira?: 200
Enter Black market: 800

 value in naira is 160000.0

In [38]:
def summation(val1=3 , val=5): #give default values
 

    total_val = val1 + val2

    return total_val

In [39]:
summation()

8

In [41]:
#Data types

no_of_child = 2

In [42]:
#To get data type, do this

type(no_of_child)

int

In [ ]:
dir(no_of_child)

In [ ]:
help(no_of_child)

In [ ]:
salary_tax_calculator()

In [43]:
abs(-2)

2

In [44]:
float(no_of_child)

2.0

In [ ]:
help(float)

In [45]:
#to round figures

round(1.23345, 2)

1.23

In [49]:
weight = 54.654

In [50]:
round(weight,2)

54.65

In [51]:
#list - an order sequence of items. There is an inbuilt function for list

list()

[]

In [86]:
class_list = [2,3,56,1,'chinny',5,7,15,True]

In [ ]:
#string a name, sentence

In [68]:
str()

''

In [69]:
name = 'chinny'

In [70]:
name.capitalize()

'Chinny'

In [71]:
name.upper()

'CHINNY'

In [72]:
name.lower()

'chinny'

In [73]:
name.split()

['chinny']

In [74]:
comment = 'the sky is blue'

In [76]:
comment.split()

['the', 'sky', 'is', 'blue']

In [ ]:
#dir(str) + play

In [92]:
#print format

print(f'the sky is blue ')

the sky is blue

In [93]:
print(f'the sky is blue, my name is {name}')

the sky is blue, my name is chinny

In [95]:
test = comment.split(' ')

In [96]:
test

['the', 'sky', 'is', 'blue']

In [97]:
"--".join(test)

'the--sky--is--blue'

In [99]:
#Index and Slicing

IndentationError: unexpected indent (573383430.py, line 4)

In [100]:
test = comment.split(' ')

In [102]:
test

['the', 'sky', 'is', 'blue']

In [103]:
test[1]

'sky'

In [106]:
test[3], test[1]

('blue', 'sky')

In [107]:
#slicing

test[1:3]

['sky', 'is']

In [109]:
test[-2:]

['is', 'blue']

In [110]:
test

['the', 'sky', 'is', 'blue']

In [111]:
sentence = 'slicing is used to obtain a sequence of elements'

In [113]:
sentence = sentence.split()

In [114]:
test.extend(sentence)

In [119]:
test[1 : -6 : 2]

['sky', 'blue', 'is']

In [120]:
#dictionaries

dict()

{}

In [122]:
bio = {'name': 'Chinny', 'age': 22, 'gender': 'female' }

In [123]:
bio

{'name': 'Chinny', 'age': 22, 'gender': 'female'}

In [124]:
bio['name'] , bio['age']

('Chinny', 22)

In [125]:
bio.items()

dict_items([('name', 'Chinny'), ('age', 22), ('gender', 'female')])

In [126]:
#tuple


tuple()

()

In [127]:
test = ()

In [128]:
type(test)

tuple

In [129]:
#set

set()

set()

In [130]:
test = {}

In [131]:
type(test)

dict

In [132]:
fruits = ['mango', 'rice', 'mango', 'rice']

In [133]:
set(fruits)

{'mango', 'rice'}

In [135]:
test2 = {'mango', 'rice', 'mango', 'rice'}

type(test2)

set